doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		title Rory Shively - Design &amp; Development
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="author", content="Rory Shively")
		link(rel="stylesheet", href="css/main.css", type="text/css")
		//- link(rel="stylesheet", href="css/onepage-scroll.css", type="text/css")
		//- link(rel="stylesheet", href="css/hamburger.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fredericka+the+Great", type="text/css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js")
		script(src="js/all.min.js")
		//- script(src="js/nav.js")
		//- script(src="js/navrouting.js")
		//- script(src="js/blackout.js")
		//- script(src="js/jquery.onepage-scroll.js")
		
	body.cbp-spmenu-push

		//- START NAV

		nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(id="cbp-spmenu-s1")
			h3 Menu
			a(href="#", data-selector="li1") Watch Pilot
			a(href="#", data-selector="li2") Behind the Scenes
			a(href="#", data-selector="li3") Cast &amp; Crew
			a(href="#", data-selector="li4") Gallery
			.donate
				p !important: This donation does not currently go to Austin Wannabes!! Dont Use</br>--------------------------------
				script(async="async", src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=texaswildricefestival@gmail.com", 
			    data-button="donate", 
			    data-name="Donation", 
			    data-quantity="1", 
			    data-amount-editable="5.00", 
			    data-currency="USD", 
			    data-shipping="0", 
			    data-tax="0", 
			    data-callback="http://texaswildricefestival.com", 
			    data-return="http://texaswildricefestival.com")
			.social-media
				ul
					li
						img(src="img/facebook.svg")
					li
						img(src="img/twitter.svg")
					li
						img(src="img/instagram.svg")
					li
						img(src="img/youtube.svg")
			button(id="showLeftPush", data-selector="menuToggle") 
				

				.hamburglar.is-closed(id="hamburger")
						include menuicon2.jade

		//- END NAV

		.blackout-page
		.main.onepage-wrapper(data-selector="blackOutPage")

			section.section.splash1(data-selector="splash1", style="background:url(img/aw_new.jpg);background-size:cover;background-position:center;")
				nav.nav-toggle
					//- img(src="img/aw.svg", data-selector="logo")
					ul
						li
							a(href="#", data-selector="li1") Watch Pilot
						li
							a(href="#", data-selector="li2") Behind the Scenes
						li
							a(href="#", data-selector="li3") Cast &amp; Crew
						li
							a(href="#", data-selector="li4") Gallery
				.blackout-header(data-selector="blackoutheader", style="background-color:black;opacity:0;width:100%;")
				.gradient
					.arrow-svg(data-selector="li1", data-svg="arrow")
						//- img(src="img/arrow.svg")
						include arrow.jade
						//- svg.sArrow
			section.section.splash2(data-selector="splash2")
				.header
					h2 - Watch Pilot -
				.splash2container
					.containingBlock
						.videoWrapper
							iframe(width="100%", height="100%", src="https://www.youtube.com/embed/gxHtmRwez1E", frameborder="0", allowfullscreen)
					.videoDescription
						h4 S01E01: Pilot
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id numquam quas voluptates vitae, quo tenetur perferendis quidem voluptatibus deleniti dicta. Ratione veritatis nesciunt dolorum ut dicta labore aut soluta blanditiis!
						p Saepe officiis qui, hic suscipit, consectetur odit. Earum quis maiores blanditiis molestiae fugiat. Placeat, vitae, fuga. Quasi minima in ut quia labore, quae cum. Fuga sunt doloremque, quod culpa accusamus?
			section.section.splash3(data-selector="splash3")
				.header
					h2 - Behind the Scenes -
				.main-gallery.js-flickity(data-flickity-options='{ "cellAllign": "center", "contain": true }')

					include articles.jade

			section.section.splash4(data-selector="splash4")
				.header
					h2 - Cast &amp; Crew -
				.main-gallery.js-flickity(data-flickity-options='{ "wrapAround": true, "pageDots": true, "prevNextButtons": true }')
					
					include crew.jade

			section.section.splash5(data-selector="splash5")
				.header
					h2 - Gallery -

			.design
				h5 Designed by 
				img(src="img/rory.svg")


		include modal.jade

