doctype html
html
	head(lang="en")
		meta(charset="UTF-8")
		title Rory Shively - Design &amp; Development
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="author", content="Rory Shively")
		link(rel="stylesheet", href="css/main.css", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Pirata+One")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="js/all.min.js")
	body
		.content
			header(data-selector="header")
				.fade-to-black
					.cover-img(data-selector="fade-to-black")
						.title-wrapper(data-selector="title-wrapper")
							.logo.margin-10(data-selector="logo")
								img(src="img/aw.svg")
							.social-media.social-media_header
								ul
									li(data-selector="li1") Watch the Pilot
									li(data-selector="li2") Behind the Scenes
									li(data-selector="li3") Cast &amp; Crew
									li(data-selector="li4") Photo Gallery
						.bottom-arrow(data-selector="bottom-arrow")
							img(src="img/arrow-down.svg")




			.buffer(data-selector="buffer")



			.section(data-selector="web-design")
				.wrapper.row
					.row.header
						.frill
						h3.align-center Web Development
						.frill
					.row.margin-20
						.column-left
							.project-img.margin-20.margin-center
								img(src="img/lg/TWRFcomp.jpg",
									 data-selector="wd-lg wd-lg1",
									 style="display:block")
								img(src="img/lg/TWRFphone2.jpg",
									 data-selector="wd-lg wd-lg2",
									 style="display:none")
								img(src="img/lg/TWRFphone1.jpg",
									 data-selector="wd-lg wd-lg3",
									 style="display:none")
								img(src="img/lg/RSphone2.jpg",
									 data-selector="wd-lg wd-lg4",
									 style="display:none")
						.column-right
							ul.row.project-tn
								li(data-selector="wd-tn1")
									img(src="img/tn/TWRFcomp.jpg")
								li(data-selector="wd-tn2")
									img(src="img/tn/TWRFphone2.jpg")
								li(data-selector="wd-tn3")
									img(src="img/tn/TWRFphone1.jpg")
								li(data-selector="wd-tn4")
									img(src="img/tn/RSphone2.jpg")
							p.margin-bottom-20.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.



			.section(data-selector="graphic-design")
				.wrapper.row
					.row.header
						.frill
						h3.align-center Graphic Design
						.frill
					.row.margin-20
						.column-left
							.project-img.margin-20.margin-center
								img(src="img/lg/ANHS.jpg",
									 data-selector="gd-lg gd-lg1",
									 style="display:block")
								img(src="img/lg/GCbanner.jpg",
									 data-selector="gd-lg gd-lg2",
									 style="display:none")
								img(src="img/lg/ATS.jpg",
									 data-selector="gd-lg gd-lg3",
									 style="display:none")
								img(src="img/lg/RSresume.jpg",
									 data-selector="gd-lg gd-lg4",
									 style="display:none")
						.column-right
							ul.row.project-tn
								li(data-selector="gd-tn1")
									img(src="img/tn/ANHS.jpg")
								li(data-selector="gd-tn2")
									img(src="img/tn/GCbanner.jpg")
								li(data-selector="gd-tn3")
									img(src="img/tn/ATS.jpg")
								li(data-selector="gd-tn4")
									img(src="img/tn/RSresume.jpg")
							p.margin-bottom-20.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi rem soluta modi aperiam inventore dignissimos eius, accusamus nulla laboriosam placeat dolore reprehenderit praesentium commodi, quis voluptatum alias aspernatur magni.



			footer(data-selector="footer")
				.wrapper.row
					.top-arrow
					.column-left
						.social-media.margin-20
							ul
								li
									img(src="img/facebook.svg")
								li
									img(src="img/instagram.svg")
								li
									img(src="img/pinterest.svg")
						strong.block.align-center.margin-20 713-598-3313
						strong.block.align-center.margin-20 Roryshively1@gmail.com
						.headshot.margin-center.margin-20
							img(src="img/turtle.png")

					.column-right
						h4.margin-10 About me
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia voluptatum dignissimos vero consequatur ipsum ab odit praesentium. Accusamus deleniti eos voluptatum distinctio, veritatis ex reprehenderit aut perferendis quaerat autem.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia voluptatum dignissimos vero consequatur ipsum ab odit praesentium. Accusamus deleniti eos voluptatum distinctio, veritatis ex reprehenderit aut perferendis quaerat autem.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia voluptatum dignissimos vero consequatur ipsum ab odit praesentium. Accusamus deleniti eos voluptatum distinctio, veritatis ex reprehenderit aut perferendis quaerat autem.
